body{
    font-family: 'Otomanopee One', sans-serif;
}
h1{
    font-size: 30px;
}
.red{
    color: crimson;
}
section{
    display: flex;
}
.Half-width{
    width: 50%;
    padding: 5%;
}
.Half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(90, 190, 230),rgb(235, 134, 151));
    padding: 8px 20px;
    color: darkmagenta;
    font-weight: 700;
    border-radius: 15px;
}
.background{
    background-image: url(images/7.png);
}
.orange{
    color: darkorange;
}
.go-button{
    text-decoration: none;
    background-image: linear-gradient(rgba(85, 25, 224, 0.911),rgb(18, 204, 204));
    color: darkred;
    padding: 8px 20px;
    font-weight: 700;
    border-radius: 15px;
}